<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <h3>Welcome to Weather app</h3>
        <form (submit)="submitLocation(cityName, countryCode, degreeUnit)">
          <div class="form-floating">
            <input type="text" class="form-control" placeholder="City Name" id="cityName" #cityName>
            <label for="cityName">City Name</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="countryCode" placeholder="Country Code" #countryCode>
            <label for="countryCode">Country Code</label>
          </div>
          <div class="form-floating mt-2">
            <select class="form-select" id="degreeUnit" #degreeUnit>
              <option value="metric" selected>Celsius</option>
              <option value="imperial">Farenheit</option>
              <option value="standard">Kelvin</option>
            </select>
            <label for="degreeUnit">Select degree unit</label>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary mt-3">Get weather</button>
          </div>
        </form> 
      </div>
    </div>
    <div class="col-md-6" id="weatherCard">
      <div class="card card-body align-items-center h-100" *ngIf="!currentWeather">
        <div id="loadingRound"></div>
      </div>
      <div class="card card-body h-100" *ngIf="currentWeather">
        <h4 class="card-title">The weather in {{currentWeather.name}} is:</h4>
        <div id="weatherInfo">
          <p>Temperature: {{currentWeather.main.temp}}{{currentDegreeUnit}}</p>
          <p>Humidity: {{currentWeather.main.humidity}}%</p>
          <p>Pressure: {{currentWeather.main.pressure}} bar</p>
          <p class="capitalize">Description: {{currentWeather.weather[0].description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="card card-body">
        <h3 class="card-title">How does it work?</h3>
        <p class="card-text">This app gets the weather data from the <a target="_blank" href="https://openweathermap.org/current">OpenWeatherMap</a> API.
           It also gets your location trough the HTML'S geolocation API (visit <a target="_blank" href="https://w3c.github.io/geolocation-api/">W3's Geolocation API page</a> for more info).
            This is the reason why the app asks you to allow the access to your location.</p>
        <p class="card-text">You can also check for the weather on an especific city by writing it's name in the "City Name" input. The "Country Code" input is optional, refer to <a target="_blank" href="https://www.iso.org/obp/ui/#search">ISO 3166</a> for the country codes.</p>
        <p class="card-text">You can also select the degree unit you want to use between three options: Celsius (default), Farenheit or Kelvin.</p>
        <h3 class="card-title">Technologies</h3>
        <ul class="list-group">
          <a href="https://angular.io/" class="list-group-item" target="_blank">Angular 11</a>
          <a href="https://bootswatch.com/materia/" class="list-group-item" target="_blank">Bootswatch Materia based on <a target="_blank" href="https://getbootstrap.com/">Bootstrap 5</a></a>
        </ul>
      </div>
    </div>
  </div>
</div>