.capitalize{
    text-transform: capitalize;
}

#loadingRound {
    height: 50px;
    width: 50px;
    border: 5px solid #eeee;
    border-radius: 50%;
    border-left: 5px solid #2f9df4;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#weatherInfo {
    margin-top: 3rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 767px) {
    #weatherCard {
        margin-top: 1rem;
    }

    #weatherInfo {
        margin-top: 1rem
    }
}